main h3 {

}

main h1 {
    font-weight: bold;
    font-size: 8rem;
    color: #671FFF;
}

main button {
    border: none;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #671FFF;
    -webkit-box-shadow: 0px 0px 22px -2px #671FFF; 
box-shadow: 0px 0px 22px -2px #671FFF;
    transition: 0.3s ease 0s;
}