@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap');

@media (min-width: 320px) and (max-width: 480px) {

html {
    font-family: 'Inter', sans-serif;
    background-color: #222222;
    color: #fff;
    /* padding-left: 20px;
    padding-right: 20px; */
}

header {
    max-height: 80px;
    padding: 20px;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px ;
}

header img {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}

header div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#active {
    color: #671FFF;
    font-weight: bold;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
}
/* 
config do hero */

#hero {
    margin-top: 20px;
    font-weight: bold;
}

#hero h1 {
    font-size: 1.8em;
    color: #fff;

}

#hero h3 {
    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
}

#hero p {
    font-weight: 400;
    font-size: 14PX;
    margin-top: 15px;   
}

#hero button {
    border: none;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #671FFF;
    -webkit-box-shadow: 0px 0px 22px -2px #671FFF; 
box-shadow: 0px 0px 22px -2px #671FFF;
    transition: 0.3s ease 0s;
    
    
}

#hero button:hover {
    transform: scale(105%);
}

#title {
    font-weight: bold;
}

/* Config ablidades tecnicas */

#habilidades {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;

}



#habilidades h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

#habilidades article {
    background-color: #2D2D2D;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    transition: all 0.5s ease;
    margin-bottom: 10px;
    
}

#habilidades article:hover {
    background-color: #671FFF;
    color: #eeeeee;
    transform: scale(105%);
    -webkit-box-shadow: 0px 0px 22px -2px #671FFF; 
box-shadow: 0px 0px 22px -2px #671FFF;
}

#habprincipais {
    gap: 10px;
}

#habilidades article i {
    font-size: 35px;
    margin: 10px;
    color: #671FFF;
}

#habilidades article:hover i {
    color: #eeeeee;
}

#habilidades article h3 {
    font-size: 16px;
    font-weight: bold;
}

#habilidades article p {
    font-size: 12px;
    margin: 5px;
}

#habprincipais {
    display: flex;
    flex-direction: row;
}

#habilidadessec {
    display: flex;
    gap: 2vw; /* Espaçamento relativo */
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; /* Largura relativa */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  }
  
  #iconhb {
    background-color: #fff;
    padding: 3vw; /* Preenchimento relativo */
    border-radius: 5px;
    color: #323546;
    font-size: 5vw; /* Tamanho de fonte relativo */
  }
  
  /* Se deseja aumentar tudo além do ícone, aplique essas regras a um contêiner que englobe todos os elementos */
  #habilidadesContainer {
    width: 90%; /* Largura relativa */
    margin: 0 auto; /* Centraliza o conteúdo */
    font-size: 10vw; /* Tamanho de fonte relativo */
    padding: 2vw; /* Preenchimento relativo */
    
  }
  
  /* Aplicando ao ícone dentro do contêiner */
  #habilidadesContainer #iconhb {
    font-size: 10vw; /* Tamanho de fonte relativo */
    padding: 5vw; /* Preenchimento relativo */
  }


  /* Animação titulo */

  /* Projetos recentes */

#projetos-recentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

#projetos-recentes h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

#projeto {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
}

#img-projeto {
    height: 140px;
    width: 140px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

}
#info-projeto {
    text-align: left;
    font-size: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

#info-projeto span {
    font-size: 16px;
    font-weight: bold;
}

#info-projeto p {
    height: auto;
    width: 180px;
}

#info-projeto button {
    border: none;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #671FFF;
    
    transition: 0.3s ease 0s;
}

#info-projeto button:hover {
    transform: scale(105%);
    -webkit-box-shadow: 0px 0px 22px -2px #671FFF; 
    box-shadow: 0px 0px 22px -2px #671FFF;
}

#ver-mais-projetos{
    height: 45px;
    width: 100%;
    border-radius: 10px;
    background-color: #2D2D2D;
    color: #fff;
    border: none;
    transition: 0.3s ease 0s;
}

#ver-mais-projetos:hover {
    transform: scale(105%);
    background-color: #671FFF;
    -webkit-box-shadow: 0px 0px 22px -2px #671FFF; 
    box-shadow: 0px 0px 22px -2px #671FFF;

}
/* 
Area de contato */

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
}

#contato h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

#contato p {
    font-size: 12px;
}

#meios-contato {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
}

#contato button {
    border: 1px solid #671FFF;
    color: #fff;
    background-color: #222222;
    border-radius: 10px;
    height: 45px;
    width: 100px;
    margin-top: 10px;
    transition: 0.3s ease 0s;
}

#contato button:hover {
    transform: scale(105%);
    background-color: #671FFF;
    -webkit-box-shadow: 0px 0px 22px -2px #671FFF; 
    box-shadow: 0px 0px 22px -2px #671FFF;
}

/* footer */

footer{
    background-color: #2D2D2D;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;

}

footer div button {
    border: none;
    border-radius: 5px;
    background-color: #671FFF;
    color: #fff;
    height: 30px;
    width: 60px;
    transition: 0.3s ease 0s;
}


footer div button:hover{
    transform: scale(105%);
    background-color: #671FFF;
    -webkit-box-shadow: 0px 0px 22px -2px #671FFF; 
    box-shadow: 0px 0px 22px -2px #671FFF;
}

}

@media (min-width: 481px) and (max-width:  768px) {

}

@media (min-width: 769) and (max-width:  1024px) {

}

@media (min-width: 1025px) and (max-width:  1200px) {

}

@media (min-width: 1201px) {

}